.copy-button {
    text-decoration: none;
    justify-content: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    padding: 5px;
    max-width: 80px;
    max-height: 40px;
    box-sizing: border-box;
    background: transparent;
    transition: 0.3s; 
    border: 1px solid rgba(169, 189, 202, 1);
    color: rgba(169, 189, 202, 1);
    border-radius: 5px;
    margin-right: 40px;
}
  
.copy-button:hover {
    border: 1px solid rgba(77, 45, 128, 1);
    color:  rgba(77, 45, 128, 1);
}
  
.copy-button[disabled] {
    opacity: .5;
    cursor: not-allowed;
}
  
.copy-button.active {
    background-color: #ff2323;
    border: 1px solid #f25e5e;
    box-shadow: 0px 0 2px 0px #f70505;
}